*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: space-between;
}

.rect{
    width: 150px;
    height: 150px;
    background-color: cornflowerblue;
    border: 1px solid black;
}

.rect:nth-child(8){
    background-color: cornsilk;
}