*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
    text-align: center;
}

button{
    background-color: tomato;
    border-radius: 10px;
    font-size: 3rem;
    width: 40%;
    margin: 1rem;
    color: white;
    outline: none;
}


img{
    display: block;
    width: 200px;
    height: 200px;
    margin: 10px auto;
}